version: '3'

services:
  postgres:
    image: postgres:9.5
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: boterator
      POSTGRES_USER: boterator
      POSTGRES_DB: boterator
  burlesque:
    image: aviasales/burlesque
    ports:
      - '4401:4401'
  boterator:
    image: virus/boterator:latest
    depends_on:
      - postgres
    volumes:
      - .:/usr/src/app
    environment:
      BURLESQUE: http://burlesque:4401
      DB: "dbname=boterator user=boterator password=boterator host=postgres port=5432"
      TG_TOKEN: "<GUESS_ME>"
    entrypoint:
      - ./wait-for-postgres.sh
    command:
      - postgres
      - boterator
      - boterator
      - python3
      - boterator_server.py

  slaveholder:
    image: virus/boterator:latest
    depends_on:
      - postgres
    volumes:
      - .:/usr/src/app
    entrypoint:
      - ./wait-for-postgres.sh
    command:
      - postgres
      - boterator
      - boterator
      - python3
      - slaveholder_server.py
    environment:
      BURLESQUE: http://burlesque:4401
      DB: "dbname=boterator user=boterator password=boterator host=postgres port=5432"

volumes:
  pgdata:
    external: false